//@media (prefers-reduced-motion: no-preference) {
//Button {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.layout {
  margin: 0px;
  padding: 0px;
}

.TopNav {
  color: green;
}

.logo {
  color: white;
}

* {
  text-decoration: none;
}

nav {
  padding: 5px;
  padding-left: 25px;
  background: black;
}

.App-header {
  background: linear-gradient(217deg, rgb(187, 11, 11), rgb(92, 0, 0));
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px;
}
