//@media (prefers-reduced-motion: no-preference) {
//Button {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.main {
  padding-left: 20px;
  padding-right: 20px;
}

.layout {
  margin: 0px;
}

.logo {
  color: white;
  position: absolute;
}

* {
  text-decoration: none;
}

nav {
  padding: 5px;
  padding-left: 25px;
  background: black;
}

.buttons {
  display: inline-block;
}

.navlinks,
nav {
  color: white;
}

.App-header {
  background: linear-gradient(217deg, rgb(0, 0, 0), rgb(255, 123, 0));
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px;
  box-shadow: 10px 20px 20px black;
}
/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 123, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 123, 0, 0.582);
}
